@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: "SaucerBB";
  src: url("/fonts/SaucerBB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.heading-font{
  font-family: "SaucerBB";
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}
/* Hide scrollbar for IE, Edge and Firefox utility */
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
